.DS_Store
/dev_util

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
environment.local.ts
environment.graphite.ts
*.sublime-workspace
*.sublime-project

